{% load static %}
<html>
<head>
    <title>Paper.io!</title>
    <script>
{{Scripts|safe}}
    </script>
    <style>
	pre{font-size: 12px; font-family: "Times New Roman"}
	</style>
</head>
<body>
    <pre>
██████╗==█████╗=██████╗=███████╗██████╗====██╗=██████╗=
██╔══██╗██╔══██╗██╔══██╗██╔════╝██╔══██╗===██║██╔═══██╗
██████╔╝███████║██████╔╝█████╗==██████╔╝===██║██║===██║
██╔═══╝=██╔══██║██╔═══╝=██╔══╝==██╔══██╗===██║██║===██║
██║======██║==██║██║======███████╗██║==██║██╗██║╚██████╔╝
╚═╝======╚═╝==╚═╝╚═╝======╚══════╝╚═╝==╚═╝╚═╝╚═╝=╚═════╝=
	</pre>
    <canvas id="game" width="600" height="600" style="border:5px solid #000000">Your Browser is too old!</canvas>
    <button type="button" id="reset">Reset!</button>
    <audio id="bgm" controls autoplay>
    	<source src="{% static "paperio/5.mp3" %}" type="audio/mpeg" id="bgmMusic" />
    </audio>
    <audio id="win">
    	<source src="{% static "paperio/defeat/win.mp3" %}" type="audio/mpeg" />
    </audio>
</body>
</html>
